.landingPage{
    margin: 84px 129px;
    display: flex;
    align-items: center;
    text-align: center;
}

.landingPage> img{
    float: left;
    width: 50%;
}

.dice-game{
    float: right;
    width: 50%;
    font-size: 58px;
}

.h1tag> h1{
    height: unset;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 96px;
    margin: 0px;
    width: 633px;
}

.playNow{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.playNow> button{
    font-size: 16px;
    background-color: black;
    color: white;
}

a> button{
    background-color: black;
    color: white;
}

Button{
    font-size: 16px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 5px;
    height: 44px;
    width: 220px;
}

@media screen and (max-width:600px) {

    .landingPage{
        /* display: grid; */display: block;
        align-content: space-between;
    justify-items: center;
    grid-gap: 31px;
        margin: 0px;
        /* width: 494px; */
        background-image: url('/assets/dices.png');
        background-repeat: no-repeat;
        background-repeat: round;
    }
    .landingPage> img{
        display: none;
    }
    .dice-game{
        width: auto;
        height: 257px;
        display: flow;
        top: 57px;
        position: relative;
    }
    .landingPage> img {
        width: 100%;
    }
    .h1tag> h1{
        font-size: unset;
        display: contents;

    }

    .playNow {
        display: contents;
    }
    /* .dice-game{
        font-size: unset;
    } */
}